/******** Global Styles ********/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  background-color: #fff;
  color: #3a3f4b;
  min-width: 980px; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

img {
  width: 100%;
  height: auto; }

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: auto; }

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  border: 0;
  outline: 0;
  padding: 20px 75px;
  background-color: #00a5ff;
  color: #fff;
  border-radius: 36px;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 5px 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  transition: background-color .5s; }
  .btn:hover, .btn:focus {
    background-color: #33b7ff; }
  .btn:active {
    background-color: #0084cc; }
  .btn:disabled {
    background-color: #999;
    color: #ccc;
    cursor: default; }

.content-header {
  font-family: "Lora", serif;
  font-size: 42px;
  line-height: 50px;
  color: #3a3f4b;
  text-align: center;
  text-transform: uppercase;
  padding-top: 65px;
  margin: 0;
  margin-bottom: 90px;
  position: relative; }
  .content-header::after {
    content: '';
    display: block;
    width: 147px;
    height: 4px;
    background-color: #00a5ff;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -77px; }

/* Header */
.page-header {
  background: #30587c url("../pict/bg-header.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 0; }
  .page-header__top {
    min-height: 90px; }
  .page-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1; }

.logo {
  width: 138px;
  height: 30px;
  float: left; }
  .logo__picture {
    width: 130px;
    height: 38px;
    margin-top: 24px; }

.menu {
  float: right;
  max-width: 760px; }
  .menu__list {
    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0; }
  .menu__item {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    margin-left: 60px;
    padding: 35px 0; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    color: #e3e4e5;
    text-decoration: none;
    display: inline-block;
    vertical-align: top; }
    .menu__link:hover, .menu__link:focus {
      color: #fff;
      text-decoration: underline; }
  .menu--bottom .menu__item {
    font-size: 20px;
    line-height: 30px;
    margin-left: 35px;
    padding: 0; }

.header__promo {
  text-align: center;
  margin-top: 180px;
  padding-bottom: 150px; }

.header__title {
  font-family: "Lora", serif;
  font-size: 58px;
  font-weight: 600;
  line-height: 65px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center; }

.header__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin-bottom: 90px; }

/* Services */
.services__list {
  list-style-type: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 95px; }

.services__item {
  width: 22%;
  max-width: 270px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #999999;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-right: 4%;
  padding-top: 100px;
  position: relative; }
  .services__item:nth-child(4n+4) {
    margin-right: 0; }
  .services__item::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
    background: #f5f6f8 url("../pict/icon-sprite.png") no-repeat;
    border-radius: 50%; }
  .services__item--logo::before {
    background-position: -2px -187px; }
  .services__item--web::before {
    background-position: -6px -270px; }
  .services__item--branding::before {
    background-position: 4px 0px; }
  .services__item--illustrations::before {
    background-position: -6px -93px; }

.service__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #3a3f4b;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  margin-bottom: 40px; }
  .service__title::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    background-color: #3a3f4b; }

.service__description {
  color: #999999;
  padding: 0;
  margin: 0; }

/* Portfolio */
.portfolio {
  background-color: #f5f6f8;
  padding-bottom: 80px; }
  .portfolio__menu {
    text-align: center;
    margin-bottom: 40px; }
  .portfolio__btn {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto; }

.filter__item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #999;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  margin-right: 55px;
  cursor: pointer;
  position: relative; }
  .filter__item:visited {
    color: #000; }
  .filter__item--active {
    color: #00a5ff;
    border-bottom: 1px solid #00a5ff;
    cursor: default; }
  .filter__item:last-child {
    margin-right: 0; }
  .filter__item:hover {
    color: #00a5ff; }

.projects {
  list-style-type: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 60px; }
  .projects__item {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    background-color: #f4f5f9;
    margin-right: 2%;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px;
    box-sizing: border-box;
    transition: transform .5s; }
    .projects__item:hover {
      transform: scale(1.015);
      box-shadow: rgba(0, 165, 255, 0.25) 2px 2px 10px; }
    .projects__item:nth-child(3n+3) {
      margin-right: 0; }

.project__link {
  color: #999;
  display: block;
  text-decoration: none; }
  .project__link:hover {
    color: #00a5ff; }

.project__picture {
  display: block; }

.project__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  display: block;
  padding: 25px 30px; }

/* Clients */
.clients {
  padding-bottom: 90px; }
  .clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .clients__link {
    display: inline-block;
    vertical-align: middle;
    opacity: .5; }
    .clients__link:last-child {
      margin-right: 0; }
    .clients__link:hover {
      opacity: 1; }

/* Feedback */
.feedback {
  background-color: #f5f6f8;
  padding-bottom: 70px; }

/* Slider */
.slider {
  position: relative; }
  .slider__arrow {
    width: 20%;
    height: 100%;
    font-size: 0;
    position: absolute;
    top: 0;
    cursor: pointer; }
    .slider__arrow::before {
      content: '';
      display: block;
      border-left: 2px solid #9fabba;
      border-bottom: 2px solid #9fabba;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      transform: rotate(45deg); }
    .slider__arrow:hover::before {
      border-color: #00a5ff; }
    .slider__arrow--prev {
      left: 0; }
      .slider__arrow--prev::before {
        left: 5px; }
    .slider__arrow--next {
      right: 0; }
      .slider__arrow--next::before {
        transform: rotate(-135deg);
        right: 5px; }
  .slider__dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }
    .slider__dots .active {
      background-color: #3a3f4b; }
  .slider__dot {
    width: 17px;
    height: 17px;
    background-color: #999;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px; }
    .slider__dot:last-child {
      margin-right: 0; }

.slide {
  text-align: center;
  width: 650px;
  margin: 0 auto; }
  .slide__pictures {
    text-align: center;
    font-size: 0;
    height: 135px;
    margin-bottom: 35px; }
  .slide__picture {
    opacity: 0.5;
    width: 108px;
    height: 108px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden; }
    .slide__picture:nth-child(2) {
      width: 135px;
      height: 135px;
      opacity: .99;
      margin: 0 75px; }
  .slide__text {
    font-family: "Lora", serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px; }
  .slide cite {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    display: block;
    line-height: 30px;
    margin-bottom: 60px; }
  .slide__link {
    color: #3a3f4b; }
    .slide__link:hover {
      text-decoration: none; }

/* Contact */
.contact {
  background-color: #3a3f4b;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 90px; }
  .contact__top {
    margin-bottom: 90px; }
  .contact__title {
    float: left;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    font-size: 33px;
    font-weight: 700; }
  .contact__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    max-width: 320px; }
  .contact__header {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    display: block;
    margin-bottom: 20px; }
  .contact__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    padding: 0;
    margin: 0;
    margin-bottom: 55px; }
  .contact__link {
    color: #999;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; }
    .contact__link:hover, .contact__link:focus {
      color: #00a5ff;
      text-decoration: underline; }
  .contact__form {
    float: right;
    width: 770px;
    margin: 0;
    padding: 0; }
    .contact__form label {
      display: inline-block;
      font-size: 26px;
      line-height: 34px;
      font-weight: 400; }
    .contact__form input[type=text],
    .contact__form textarea {
      box-sizing: border-box;
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      margin-top: 10px;
      outline: 0;
      border: 0;
      border-bottom: 1px solid #fff;
      padding: 10px 20px;
      background-color: transparent; }
      .contact__form input[type=text]:focus,
      .contact__form textarea:focus {
        border-color: #00a5ff; }
    .contact__form input[type=text] {
      width: 360px; }
    .contact__form textarea {
      width: 770px;
      height: 130px;
      resize: none; }
  .contact__name {
    margin-right: 45px; }
  .contact__message {
    margin-top: 50px;
    margin-bottom: 40px; }
  .contact__submit {
    margin: 0; }

/* Footer */
.page-footer {
  position: relative;
  min-height: 90px; }
  .page-footer__to-top {
    font-size: 0;
    display: inline-block;
    width: 68px;
    height: 68px;
    background-color: #00a5ff;
    color: #fff;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: -34px;
    left: 50%;
    margin-left: -34px; }
    .page-footer__to-top::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -5px;
      margin-top: -4px;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff; }

.copyright {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #999;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  padding: 30px 0; }

.social {
  float: right;
  height: 30px;
  font-size: 0;
  margin-top: 30px; }
  .social__link {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 12px;
    background: transparent url("../pict/social-sprite.svg") no-repeat; }
    .social__link--facebook {
      background-position: 0 0; }
      .social__link--facebook:hover {
        background-position: 0 -33px; }
    .social__link--twitter {
      background-position: -42px 0; }
      .social__link--twitter:hover {
        background-position: -42px -33px; }
    .social__link--dots {
      background-position: -84px 0; }
      .social__link--dots:hover {
        background-position: -84px -33px; }
    .social__link--linkedin {
      background-position: -126px 0; }
      .social__link--linkedin:hover {
        background-position: -126px -33px; }

@media screen and (max-width: 1110px) {
  .contact__list {
    float: none;
    max-width: 100%;
    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 40px; }
  .contact__item {
    display: inline-block;
    vertical-align: top;
    width: 32%; }
    .contact__item:nth-child(3n+2) {
      margin: 0 2%; }
  .contact__form {
    float: none;
    width: 100%;
    font-size: 0; }
    .contact__form input[type=text],
    .contact__form textarea {
      width: 100%; }
  .contact__name, .contact__subject {
    width: 49%; }
  .contact__name {
    margin-right: 2%; }
  .contact__message {
    width: 100%; }
  .contact__submit {
    display: block;
    margin: auto; } }

body * {
  /* background-color: rgba(0, 0, 0, 0.04); */ }
